# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
env/
*.venv

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Data files (uncomment to exclude large files)
# data/raw/*.dat
# data/preprocessed/*.csv

# System files
.DS_Store
Thumbs.db

# Editor and IDE files
.vscode/
.idea/
*.swp
*.swo

# Miscellaneous
*.log
*.bak
*.tmp